<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{{ prediction }}</title>
</head>
<body>
    {% if prediction is not none %}
        {% if prediction == 'ham' %}
            <div class="predict">
                <h1 class="result">Safe. It's not a spam 😃</h1>
                <img src="https://media.tenor.com/f_saBHiUTz0AAAAM/cute-cat.gif" alt="">
            </div>
        {% else %}
            <div class="predict">
                <h1 class="result">This totally a SPAM!!! 💀💀💀🚨🚨🚨</h1>
                <img src="https://media.tenor.com/U73Vs9PVl4oAAAAd/cod-mw2-cod-mw2ghost.gif" alt="">
            </div>
        {% endif %}
    {% endif %}

    <a class="btn" href="{{url_for('index')}}">Try Again</a>
</body>
</html>